/* Variables */
:root {
  --cl-light: white;
  --cl-dark: rgb(97, 64, 39, 0.6);
  --spacing-xs: 0.2rem;
  --spacing-s: 0.4rem;
  --spacing-m: 0.6rem;
  --spacing-l: 0.8rem;
  --spacing-xl: 1rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./imgs/bg-main.jpg);
  background-size: cover;
}

.container {
  width: 36rem;
  padding: var(--spacing-m);
  background-color: var(--cl-dark);
  color: white;
  text-align: center;
}

.header {
  padding: var(--spacing-xl);
}

.header__brand {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: var(--spacing-s);
}

.header__subbrand {
  font-size: 1.5rem;
}

.nav {
  padding-top: var(--spacing-l);
}

.nav__btn {
  height: 2rem;
  width: 6rem;
  cursor: pointer;
  border: none;
  border-right: 2px solid white;
  transition: 100ms all ease-in-out;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
}

.nav__btn:first-child {
  border-left: 2px solid white;
}

.nav__btn--active,
.nav__btn:hover,
.nav__btn:focus-visible {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* Content */
.content {
  font-size: 1.3rem;
}

.content__header {
  text-decoration: underline;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-weight: 600;
}
