/* Variables */
:root {
  --cl-main: rgb(255, 237, 219);
  --cl-light: rgb(237, 205, 187);
  --cl-secondary: rgb(191, 146, 112);
  --cl-primary: rgb(191, 146, 112);
  --cl-dark: rgb(97, 64, 39);
  --spacing-xs: 0.2rem;
  --spacing-s: 0.4rem;
  --spacing-m: 0.6rem;
  --spacing-l: 0.8rem;
  --spacing-xl: 1rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: var(--spacing-xl) var(--spacing-xl) 0 var(--spacing-xl);
  background-color: var(--cl-light);
  text-align: center;
}

.header__brand {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: var(--spacing-s);
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-l);
}

.nav__btn {
  cursor: pointer;
  height: 2rem;
  width: 6rem;
  background-color: var(--cl-light);
  border: none;
  border-right: 2px solid black;
  transition: 100ms all ease-in-out;
  outline: none;
}

.nav__btn:first-child {
  border-left: 2px solid black;
}

.nav__btn:hover,
.nav__btn:focus-visible {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
